@model IEnumerable<TiendaOrg.Models.Vendedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Vendedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreVendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <img src="~/img/@item.Logo" style="width:75px;height:75px;"/>
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdVendedor">Editar</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdVendedor">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdVendedor">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
